@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap);
@import './variables';
@import './container';
@import './loginPage';
@import './homePage';
@import './cardHero';
@import './nav';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  overflow: scroll;
}

.button {
  font-size: 1em;
  width: 100%;
  height: 35px;
  font-family: 'Roboto Mono';
  font-weight: 500;
  outline: none;
  transition: all 0.2s;  
  
}

.button-dark {
    background-color: $dark;
    border: 1px solid $dark;
    cursor: pointer;
    color: $light;
  &:hover {
    background-color: darken($dark, 15%);
  }
  &:active {
    background-color: darken($dark, 10%);
  }
}
.button-light {
    background-color: $light;
    border: 1px solid $dark;
    color: $dark;
    
  &:hover {
    background-color: darken($light, 15%);
  }
  &:active {
    background-color: darken($light, 10%);
  }
} 
