@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import './variables';
@import './container';
@import './loginPage';



*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


