.home-page {
  display: flex;
  height: auto;
  flex-direction: column;
  border: 1px solid;
  overflow: hidden;
  max-width: 1400px;
  margin: 0px auto;
  gap: 50px;
  
  .hero-dark {
    background: $dark;
    color: $light;z-index: -3;
  }
  .hero-light {
    background: $light;
    color: $dark;
    z-index: -3;
  }
}



